*{
	margin: 2%;
	padding: 2px;
}
hr{
	background-color: #97B429;
}
h1{
	font-size: 60px;
	font-family: 'Garamond';
}
b{
	padding: 0px;
	margin: 0px;
	color: #97B429;
}

img {
	object-fit: cover;
	width: 70%;
	max-width: 300px;
	max-height: 300px;
}