*{
	margin: 1%;
	padding: 1px;
	box-sizing: border-box;
}
h1{
	font-family: 'Garamond';
	font-size: xx-large;
}

hr{
	background-color: orange;
}

.card {
	max-width: 500px;
	margin: 10px;
	margin-top: 10px;
}

.footer{
	float: left;
}
.card-img-top {
	max-height: 300px;
	object-fit: cover;
}